
/* Candidate */

.Candidate {
	height: 18em;
	opacity: .6;
	width: 18em;
}

@media (min-width: 21em) {

	.Candidate {
		height: 21em;
		width: 21em;
	}

}

@media (min-width: 48em) {

	.Candidate {
		height: 24em;
		width: 24em;
	}

}